.navbarstyles{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-top: 0rem;
  background-color:rgb(172, 172, 224);
  padding: 2rem;
  color: white;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

